{% extends 'layout.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('transactions') }}
{% endblock %}

{% block title %}Transactions{% endblock %}

{% block content %}
    <div calss="categories container content-body">
        <div class="text-end mb-4">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newTransactionModal">
                <i class="bi bi-plus-circle me-1"></i>
            </button>
    <div>

{% endblock %}